/.ElementalDescriptionLabelProvider.java._trace
/.ElementalDescriptionLabelProvider.xtendbin
/.ElementalLabelProvider.java._trace
/.ElementalLabelProvider.xtendbin
/ElementalDescriptionLabelProvider.java
/ElementalLabelProvider.java
